<% if not authenticated? %>
	<p>Please authenticate.</p>
<% else %>

<h1>Analytics</h1>

<hr />

<h3>Customers over day</h3>

<!-- CHART -->
<div id="helpCount">
	<svg style="height: 300px; width:600px;"></svg>
</div>

<% end %>
