<% if not authenticated? %>
	<p>Please authenticate.</p>
<% else %>

<h1>Analytics</h1>

<hr />


<!-- CHART -->
<div class="row">
	<div class="col-sm-6" id="helpCount">
		<h4>Customers helped</h4>
		<svg style="height: 300px; width:500px;"></svg>
	</div>
	<div class="col-sm-6" id="helpTime">
		<h4>Avg customer help time</h4>
		<svg style="height: 300px; width:500px"></svg>
	</div>

<% end %>
