 <div class='intro-header'>
 	<div class='container'>
 		<div class='row'>
 			<div class='intro-message'>
 				<h1>Burgess Wireless System</h1>
 				<h3>Social, local, and mobile</h3>
 				<hr class='intro-divider'>
 				<p><a class="btn btn-default btn-lg" href="/" role="button">Take a tour</a></p>
 			</div>
 		</div>
 	</div>
 </div>


<div class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Personalize their shopping experience</h2>
				<p class="lead">Turn your retail space into a next-gen ecosystem through state-of-the-art WiFi and Bluetooth detection. Maximize your store's efficiency, build your team's work ethic, and help every customer feel at home.</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">

				<img class="img-responsive" src="/images/ipad_2.png" alt="">
				<!-- <img class="img-responsive" src="http://www-hollybaby-com.vimg.net/wp-content/uploads/2010/11/112410_shopping_iStock_000005267567Small.jpg" alt=""> -->
			</div>
		</div>
	</div>
</div>
<div class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">New ways to flourish</h2>
				<p class="lead">Watch your storefront flow and evolve through intuitive interfaces. Know which customers need your help first, the closest employee available, and new ways to improve your synergy. Enrich the lives of your employees and customers.</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6 col-sm-6">
				<img class="img-responsive" src="/images/dog_2.png" alt="">
				<!-- <img class="img-responsive" src="/vendor/startbootstrap/img/dog.png" alt=""> -->
			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">There for your customers</h2>
				<p class="lead">Access the portal and Android app anywhere. In conjunction with the cloud, multiply your business opportunities exponentially and have the best customer service in the country. Bring your enterprise to the next level.</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="/vendor/startbootstrap/img/phones.png" alt="">
			</div>
		</div>
	</div>
</div>

<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>Start your future now...</h2>
			</div>
			<div class="col-lg-6">
				<p><a class="btn btn-default btn-lg" href="/" role="button">Create Account</a></p>
			</div>
		</div>
	</div>
</div>