<div class="jumbotron">
	<h2>Social, local, and mobile.</h2>
        <p>The Burgess system combines the cloud and advanced location services to provide a disruptive management suite to make the world a better place.</p>
       <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
