
<div class='container' style='padding-top:50px'>
	<h1>Live Feed</h1>

	<hr />
	<div class='row'>
		<div class='col-sm-10'>
			<canvas id="live_map" width="600" height="400"></canvas>
		</div>
		<div class='col-sm-2'>
			<h4>Employees</h4>
			<table>
				<tbody data-bind="foreach: employees">
					<tr>
						<td><div data-bind="style:{background:color}" style="width:12px; height:12px;"></div></td>
						<td><p data-bind="text: name"/></td>
					</tr>
				</tbody>
			</table>
			<hr />
			<h4>Customers</h4>
			<table>
				<thead><tr>
						<th>MAC Address</th>
					</tr></thead>
				<tbody data-bind="foreach: customers">
					<tr>
						<td><p data-bind="text: id"/></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>