<form action='/login/attempt' method='post' class='form-inline well'>

	<input type='text' name='username' placeholder='Username' autofocus><br/>
        <input type='password' name='password' placeholder='Password' autofocus><br/>
        <input class='btn primary' type='submit' value='log in'><br/>

</form>
