<!DOCTYPE html>
<html>
	<head>
		<title>Burgess Wireless System</title>
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<%= erb :navbar %>

                        <div>
                                <%if @error then %>
                                <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <%=@error%>
                                </div>
                                <% end %>
                        </div>

			<%= yield %>

		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
