<div class="container">

      <form action='/signup' method='post' class="form-create">
        <h2 class="form-create-heading">Create Account</h2>
	<hr />
	<p>Username</p>
        <input type="text" name='username' class="form-control" placeholder="Username" required autofocus>

	<p>Email</p>
	<input type="text" name='email' class="form-control" placeholder="Email" required autofocus>

	<p>Password</p>
        <input type="password" name='password' class="form-control" placeholder="Password" required>

        <input type="password" name='re-password' class="form-control" placeholder="Re-enter Password" required>

	<p>Company</p>
        <input type="text" name='company' class="form-control" placeholder="Company" required>
	<input type="text" name='store' class="form-control" placeholder="Store ID">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>

</div> <!-- /container -->

