
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- DATE SELECTION -->
	<script src="/vendor/datetimepicker/jquery.datetimepicker.js"></script>

	<div id='timeBar' style='padding-left: 60px'>
		<button type='button' class='btn btn-default' aria-label='Play'>
			<span class='glyphicon glyphicon-play' aria-hidden='true' style='color:green'></span>
		</button>
	
		<div class='wrapper' style='display:inline-block; vertical-align:bottom;'>
			<div class='input-group'>
		 		<input id="datetimepicker" type="text" class='form-control'></input>
				<span class='input-group-btn'>
					<button class='btn btn-default' type='button' onclick='onDateSelected()'>Go</button>
				</span>
			</div>
		</div>
	</div>


	<script type='text/javascript'>
		$("#datetimepicker").datetimepicker({
			format: 'm-d-Y',
			lang:'en',
			timepicker:false,
			defaultDate: '2012/04/23'
		});
	</script>


	<!-- MAP -->
        <script type='text/javascript' src='/vendor/canvascript/jCanvaScript.1.5.18.min.js'></script>
        <script type='text/javascript' src='/js/map.js'></script>
        <canvas width="600" height="400" id="live_map" style='padding-left: 60px;'></canvas>
        <script type='text/javascript'>
                var map = new LiveMap("live_map", 600, 400);
                map.addCustomer(70,30,8);
                map.addCustomer(40,370,10);
                map.addCustomer(300,20,12);
                map.loadResources();
        </script>

	<!-- CHART -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type='text/javascript' src='/vendor/NVD3/nv.d3.js'></script>
	<link href='/vendor/NVD3/nv.d3.css' rel='stylesheet'>
	<svg width="680" height="200">
		<svg id="chart" width="680" height="200"></svg>
		<svg id="time" width="680" height="200"></svg>
	</svg>
	<link href='/css/timelapse.css' rel='stylesheet'>
	<script type="text/javascript" src="/js/timelapse.js"></script>
	<script type="text/javascript" src="/js/positionblock.js"></script>
	<script type="text/javascript">
		var timeLapse = new TimeLapse();
		var dataBlock = new PositionBlock();
                $("#datetimepicker").val(formatDate(new Date));
		dataBlock.requestData(formatDate(new Date)+"-"+(new Date).getTimezoneOffset(), function (result) {
                	timeLapse.drawChart("#chart", [{values: dataBlock.getCustomersHourly(), key: "Customers"}]);
                	timeLapse.drawSelector("#time");
                	timeLapse.selectorMoved = function(x) {
                       		var t = timeLapse.xi + x * (timeLapse.xf - timeLapse.xi);
				$.each(dataBlock.getMostRecent(t-20000,t), function(i,d) {
					map.addCustomer(d.x, d.y, 10);
				});
				map.draw();
                	}
		});
		function onDateSelected() {
			dataBlock.requestData(($("#datetimepicker").val()+"-"+(new Date).getTimezoneOffset()),
				function() {
				timeLapse.updateChart([{key: "Customers", values: dataBlock.getCustomersHourly()}]);
			});
		}
		function formatDate(d) {
			return (d.getMonth()+1)+"-"+d.getDate()+"-"+d.getFullYear();
		}
	</script>

