<h1>Time Lapse</h1>
<% if not authenticated? %>
	<p>Please authenticate</p>
<% else %>


	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- TIME SELECTION -->
	<script src="/vendor/datetimepicker/jquery.datetimepicker.js"></script>

	<div id='timeBar' style='padding-left: 60px'>
		<button type='button' class='btn btn-default' aria-label='Play'>
			<span class='glyphicon glyphicon-play' aria-hidden='true' style='color:green'></span>
		</button>
	
		<div class='wrapper' style='display:inline-block; vertical-align:bottom;'>
			<div class='input-group'>
		 		<input id="datetimepicker" type="text" class='form-control'></input>
				<span class='input-group-btn'>
					<button class='btn btn-default' type='button' onclick='onDateSelected()'>Go</button>
				</span>
			</div>
		</div>
	</div>


	<script type='text/javascript'>
		$("#datetimepicker").datetimepicker({
			format: 'm-d-Y',
			lang:'en',
			timepicker:false,
//			minDate: new Date(<%= settings.mongo_db.getCustomerStartDate("store") %>).toLocaleFormat('%Y/%m/%d'),
//			maxDate:'0',
			defaultDate: '2012/04/23'
		});
	</script>


	<!-- MAP -->
        <script type='text/javascript' src='/vendor/canvascript/jCanvaScript.1.5.18.min.js'></script>
        <script type='text/javascript' src='/js/map.js'></script>
        <canvas width="600" height="400" id="live_map" style='padding-left: 60px;'></canvas>
        <script type='text/javascript'>
                var map = new LiveMap("live_map", 600, 400);
                map.addCustomer(70,30,8);
                map.addCustomer(40,370,10);
                map.addCustomer(300,20,12);
                map.loadResources();
        </script>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type='text/javascript' src='/vendor/NVD3/nv.d3.js'></script>
	<link href='/vendor/NVD3/nv.d3.css' rel='stylesheet'>
	<svg width="680" height="200">
		<svg id="chart" width="680" height="200"></svg>
		<svg id="time" width="680" height="200"></svg>
	</svg>
	<link href='/css/timelapse.css' rel='stylesheet'>
	<script type="text/javascript" src="/js/timelapse.js"></script>
	<script type="text/javascript">
		var timeLapse = new TimeLapse();
		var data = <%= settings.mongo_db.getCustomersOverDay() %>;
		timeLapse.drawChart("#chart", [{values: data, key: "Customers", color: '#ff7f0e'}]);
		timeLapse.drawSelector("#time");
		timeLapse.selectorMoved = function(x) {
			var t = timeLapse.xi + x * (timeLapse.xf - timeLapse.xi);
			$.post("timelapse/positions",
			       {"time": t},
				function (result) {
					if (!result) return;
					var r = JSON.parse(result);
					// TODO - If multiple..
					map.addCustomer(r[0].x, r[0].y, 10);
					map.draw();
				})
		}
		var data2;
		function onDateSelected() {
			$.post( "timelapse/date", 
				{"value": $("#datetimepicker").val()},
				function (result) { 
					timeLapse.updateChart([{key: "Customers", values: JSON.parse(result), color: '#ff7f0e'}]);
				});
		}
	</script>

<% end %>
