<link href="/vendor/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<link href='/vendor/NVD3/nv.d3.css' rel='stylesheet'>
<link href='/css/timelapse.css' rel='stylesheet'>


<div id='timeBar' style='padding-left: 60px'>
	<button type='button' class='btn btn-default' aria-label='Play'>
		<span class='glyphicon glyphicon-play' aria-hidden='true' style='color:green'></span>
	</button>

	<div class='wrapper' style='display:inline-block; vertical-align:bottom;'>
		<div class='input-group'>
	 		<input id="datetimepicker" type="text" class='form-control'></input>
			<span class='input-group-btn'>
				<button id='datetimeselected' class='btn btn-default' type='button'>Go</button>
			</span>
		</div>
	</div>
</div>

<!-- MAP -->
<canvas width="600" height="400" id="live_map" style='padding-left: 60px;'></canvas>

<!-- CHART -->
<svg width="680" height="200">
	<svg id="chart" width="680" height="200"></svg>
	<svg id="time" width="680" height="200"></svg>
</svg>
